:root {
  --text-color: #373737;
  --secondary-text-color: #ffffff;
  --primary-button-color: #ebd8ff;
  --secondary-button-color: #5cd3a8;
  --body-color: rgba(248, 236, 255, 0.575);
  --bar-color: #5d0594;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

:root {
  --toastify-toast-background: blue;
}
